<nav>
	<ul>
		<li><a href="#!/" role="button" class="back">Add another mood</a></li>
		<li><a role="button" class="undo">Undo</a></li>
	</ul>
</nav>
<form class="mood">
	<fieldset>
		<legend class="status">{{ $ctrl.timeDescription }}, you were</legend>
		<ul class="mood-name">
			<li><label><input type="radio" name="mood" value="{{ $ctrl.moodName }}" checked> {{ $ctrl.moodName }}</label></li>
		</ul>
	</fieldset>
	<fieldset>
		<legend>The strength of your mood, on a scale of 1 to 5, was:</legend>
		<ul class="intensity">
			<li><label><input type="radio" name="intensity" value="1"> 1</label></li>
			<li><label><input type="radio" name="intensity" value="2"> 2</label></li>
			<li><label><input type="radio" name="intensity" value="3"> 3</label></li>
			<li><label><input type="radio" name="intensity" value="4"> 4</label></li>
			<li><label><input type="radio" name="intensity" value="5"> 5</label></li>
		</ul>
	</fieldset>
	<fieldset>
		<label>At the time, you were:
			<textarea cols="30" id="" name="" rows="10"
				placeholder="What was happening at the time?"></textarea>
		</label>
	</fieldset>
</form>
<a role="button">Delete this mood</a>
